<div class="about-container container">
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav-list">
                <%- about_categories("partner") %>
            </ul>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 about-content">
            <h3><a id="about">合作伙伴</a></h3>
            <p>
                <span style="font-weight: bold;font-size: 18px;">奇虎独角兽团队/UnicornTeam</span>
                <img src="../images/about/unicornteam.png" style="display: block;margin: 30px auto;width: 30%;"/>
                <strong>I think I Hack ！</strong><br/>
                360UnicornTeam专注于使用无线电技术的所有领域的信息安全相关研究，任何使用无线电通信技术的产品，小到射频卡、遥控钥匙，大到无线医疗设备、交通信号灯、智能汽车、卫星通信...我们都会去研究其安全风险，并将形成研究及风险评估报告提供给相关企业、机构及政府部门来加固和阻止未知安全隐患。
                <br/><br/>
                <strong>I think I Make ！</strong><br/>
                团队成员除在无线电研究领域拥有资深经验外，还具备强大的硬件自研及硬件安全评估能力。安全研究所需的分析设备，若市面上买不到，我们就自己做；我们发现的安全漏洞，为了更好的揭示潜在风险给相关政府机构，如有必要，我们也会做出相关攻防设备供漏洞修补研究演示之用。在硬件研制上，我们可按自己的想法设计PCB layout，选我们喜欢的核心芯片，买我们觉得性价比最高的元件，用我们觉得最靠谱的SMT工厂。
                <br/><br/>
                <strong>I think I Protect ！</strong><br/>
                当然，我们最重要的任务是保护360公司自身在无线电领域遇到的所有安全威胁，同时将所用技术输出，保护更多人和企业的安全。目前我们已推出了“360天巡——无线入侵防御系统“这样的企业级无线安全解决方案。此外我们还会通过自身在无线电、硬件安全领域的积累，输出更多“软硬结合”的防护产品。
            </p>
        </div>
    </div>
</div>