<div class="about-container container">
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav-list">
                <%- about_categories("index") %>
            </ul>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 about-content">
            <h3><a id="about">关于我们</a></h3>
            <img src="../images/about/qcoreteam_big.png" style="margin: 30px "/>
            <p>
                QCoreTeam是由一群喜欢开源的程序员组成的组织，由2016年10月1日成立，目前地点在北京，所有成员均是兼职参与开发，我们立志打造
                一个优秀的开源组织。
                <br/>
                QCoreTeam的官方源码库的地址是: <a href="https://www.github.com/qcoreteam">https://www.github.com/qcoreteam</a>
            </p>
            <hr/>
            <p>
                <img src="../images/logo-green.png" style="display: block; margin:20px auto"/>
                当前我们的第一个项目是 TopJs Web Framework
                <br/>
                这个框架是nodejs领域full feature的编程框架，希望大家喜欢，并且欢迎大家在github上与我们互动。
                项目地址是：<a href="https://www.github.com/qcoreteam/topjs">https://www.github.com/qcoreteam/topjs</a>
            </p>
        </div>
    </div>
</div>