<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TopJs - A full-stack web framework for nodejs</title>
    <%- css('css/bootstrap.min.css') %>
    <%- css('css/common.css') %>
    <%- css('css/highlight.css') %>
    <%- load_css_for_current_layout() %>
    <link rel="icon" href="/topjsico.png" type="image/png"/>
</head>